@import "tailwindcss";

@theme inline {
  --color-primary: #d92323;
  --color-primary-dark: #b01b1b;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --color-surface-dark: #1a2632;
  --color-text-secondary: #92adc9;
  
  --font-display: var(--font-inter), sans-serif;
  
  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}
